/* line 2, /Users/dev/DEV/SITES/airbnb-like-pg/app/assets/stylesheets/users.scss */
.user__page .first__information {
  display: flex;
  align-items: center;
}
/* line 5, /Users/dev/DEV/SITES/airbnb-like-pg/app/assets/stylesheets/users.scss */
.user__page .first__information .container__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
/* line 11, /Users/dev/DEV/SITES/airbnb-like-pg/app/assets/stylesheets/users.scss */
.user__page .first__information .container__image img {
  width: 100%;
  height: 100%;
}
/* line 22, /Users/dev/DEV/SITES/airbnb-like-pg/app/assets/stylesheets/users.scss */
.user__page .book, .user__page .workshop,
.user__page .phone, .user__page .description {
  margin: 30px 0;
}
/* line 4, /Users/dev/DEV/SITES/airbnb-like-pg/app/assets/stylesheets/workshops.scss */
.carousel {
  max-height: 50vh;
  cursor: move;
}

/* line 10, /Users/dev/DEV/SITES/airbnb-like-pg/app/assets/stylesheets/workshops.scss */
.card .card-image {
  height: 200px;
  position: relative;
  overflow: hidden;
}
/* line 14, /Users/dev/DEV/SITES/airbnb-like-pg/app/assets/stylesheets/workshops.scss */
.card .card-image:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
/* line 23, /Users/dev/DEV/SITES/airbnb-like-pg/app/assets/stylesheets/workshops.scss */
.card .card-title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  z-index: 99;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


.container {
  margin-bottom: 30px;
  margin-top: 30px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: relative;
  opacity: 1;
  margin-right: 15px;
  pointer-events: auto;
}

select {
  display: inline-block;
}

.dropdown-menu {
  display: none;
}

.daterangepicker {
  background: #2c3e50;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
  text-decoration: none;
}

.brand-logo {
  margin-left: 15px;
}

#map {
  width: 100%;
  height: 35vh;
}

.hidden {
  display: none;
}

footer.page-footer {
  padding-top: 0;
}

footer .container {
  margin: 0 30px;
}

.side-nav .container__image {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: solid #fff 2px;
}

input[type="checkbox"] {
  display: none;
}

.side-nav .container__image img {
  width: 100%;
  height: 100%;
}
