<div class="container">
  <h1>500 Internal server error</h1>
  <div>If the error persist, please contact us as soon as possible</div><br>
  <%= link_to "Home page", home_path, class: "btn" %>
</div>

