/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.footer-copyright .container {
  margin: 0 20px !important;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: relative;
  opacity: 1;
  margin-right: 15px;
  pointer-events: auto;
}

select {
  display: inline-block;
}

.dropdown-menu {
  display: none;
}

.daterangepicker {
  background: #2c3e50;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
  text-decoration: none;
}

.brand-logo {
  margin-left: 15px;
}

#map {
  width: 100%;
  height: 35vh;
}

.hidden {
  display: none;
}

footer.page-footer {
  padding-top: 0;
}

footer .container {
  margin: 0 30px;
}

.side-nav .container__image {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: solid #fff 2px;
}

input[type="checkbox"] {
  display: none;
}

select {
  display: block !important;
  height: 6rem !important;
  margin: 8px 0 20px 0 !important;
}

input.daterange select {
  margin: 0 !important;
}

.side-nav .container__image img {
  width: 100%;
  height: 100%;
}