.user__page {
  .first__information {
    display: flex;
    align-items: center;
    .container__image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 10px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      img {
        width: auto;
        height: 100%;
      }
    }
  }

  .book, .workshop,
  .phone, .description {
    margin: 30px 0;
  }

  &-edit {
    .field {
      margin: 20px 0;
    }
  }
}